
body {
    background: rgb(90, 259, 286);
    font: normal 16px Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    width: 500px;
    padding: 15px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

#res{
    text-align: center;
    padding: 50px;
}

a{
    text-decoration: none;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    text-decoration: none;
}
